::ng-deep .p-datepicker-month {
    background-color: black;
    color:white;
}

::ng-deep .p-datepicker-year {
    background-color: black;
    color:white;
}
.traitementbox{
    width: fit-content;
}
p-button{
    margin: 10px;
}
.retour{
    display: flex;
    justify-content: center;
}
.c1{
    line-height: 1cm;
}
.ea{
    margin-left: 10px;
}
.no-click {
    pointer-events: none;
}