<div class="grid">
    <!-- /*           *************** INFORMATION CLIENT ***************           */ -->
    <div class="col-12">
        <div class="card">
            <h5>Information Client</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="nom">Nom</label>
                    <input id="nom" [(ngModel)]="demande.nom" type="text" pInputText required [disabled]="modifying" />
                    <small *ngIf="submitAll && !demande.nom" id="nom" class="p-invalid">Ce champ est nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="prenom">Prénom</label>
                    <input id="prenom" [(ngModel)]="demande.prenom" type="text" pInputText required [disabled]="modifying"/>
                    <small *ngIf="submitAll && !demande.prenom" id="prenom" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="typePiece">Type de pièce</label>
                    <p-dropdown inputId="typePiece" [options]="typePiece" [(ngModel)]="demande.typePiece" [disabled]="modifying"
                        placeholder="Choisir" required></p-dropdown>
                    <small *ngIf="submitAll && !demande.typePiece" id="typePiece" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6" *ngIf="demande.typePiece == 'CIN'">
                    <label for="numCin">Numéro CIN</label>
                    <input type="text" pInputText pKeyFilter="pnum" id="numCin" [(ngModel)]="demande.numPiece" required
                        maxlength="8" minlength="8" [disabled]="modifying"/>
                    <!-- <small *ngIf="minlength < 8" id="numPiece" class="p-invalid"
                        >Ce champ doit comporter 8 chiffre.</small
                    > -->
                </div>
                <div class="field col-12 md:col-6" *ngIf="demande.typePiece == 'Passeport'">
                    <label for="numCin">Numéro Passport</label>
                    <input id="numCin" [(ngModel)]="demande.numPiece" type="text" minlength="9" maxlength="9" pInputText
                        required [disabled]="modifying"/>
                    <!-- <small
                        *ngIf="demande.numPiece < 9"
                        id="numCin"
                        class="p-invalid"
                        >Ce champ doit comporter 9 caractères.</small
                    > -->
                </div>
                <div class="field col-12 md:col-6">
                    <label for="numCompte">N° Compte</label>
                    <input type="text" pInputText pKeyFilter="pnum" id="numCompte" [(ngModel)]="demande.numCompte"
                        required maxlength="13" minlength="13" [disabled]="modifying"/>
                    <small *ngIf="submitAll && !demande.numCompte" id="numCompte" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="dateCompte">Date ouverture compte</label>
                    <p-calendar id="dateCompte" name="dateCompte" [showIcon]="true" inputId="icon"
                        [(ngModel)]="demande.dateCompte" required [disabled]="modifying">
                    </p-calendar>
                    <small *ngIf="submitAll && !demande.dateCompte" id="dateCompte" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="dateNaissance">Né le</label>
                    <span class="p-float-label">
                        <p-calendar id="dateNaissance" name="dateNaissance" [showIcon]="true" inputId="icon"
                            [(ngModel)]="demande.dateNaissance" required [disabled]="modifying">
                        </p-calendar>
                    </span>
                    <small *ngIf="submitAll && !demande.dateNaissance" id="dateNaissance" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="sitFam">Situation familiale</label>
                    <span class="p-float-label">
                        <p-dropdown inputId="situation" [options]="sitFam" [(ngModel)]="demande.sitFamiliale"
                            placeholder="Choisir" required [disabled]="modifying"></p-dropdown>
                    </span>
                    <small *ngIf="submitAll && !demande.sitFamiliale" id="situation" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
            </div>
        </div>
    </div>
    <!-- /*           ********************************************           */ -->
    <!-- /*           *************** LIGNE CREDIT ***************           */ -->
    <div class="col-12">
        <div class="card">
            <h5>Ligne de Crédit</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="credit">Type Crédit</label>
                    <span class="p-float-label">
                        <p-dropdown (onChange)="findDocObligatoire()" inputId="credit" placeholder="Type"
                            [(ngModel)]="typeC" [options]="typeCredit" optionLabel="libcredit"  [disabled]="modifying"></p-dropdown>
                    </span>
                    <small *ngIf="submitAll && !typeC.libcredit" id="credit" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="montant">Montant</label>
                    <p-inputNumber id="montant" [(ngModel)]="demande.montant" mode="currency" required currency="TND"
                        locale="tn-TN" [disabled]="page=='traitement' || page=='info'"></p-inputNumber>
                    <small *ngIf="submitAll && !demande.montant" id="montant" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="unite">Unité</label>
                    <span class="p-float-label">
                        <p-dropdown inputId="unite" [options]="unite" [(ngModel)]="demande.unite" placeholder="Par"
                            required [disabled]="modifying">
                        </p-dropdown>
                    </span>
                    <small *ngIf="submitAll && !demande.unite" id="unite" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="nbrEcheance">Nombre échéance</label>
                    <p-inputNumber id="nbrEcheance" [(ngModel)]="demande.nbreEcheance" required [disabled]="modifying"></p-inputNumber>
                    <small *ngIf="submitAll && !demande.nbreEcheance" id="nbreEcheance" class="p-invalid">Ce champ est
                        nécessair.</small>
                </div>
            </div>
        </div>
    </div>

    <!-- /*           ****************************************           */ -->
    <!-- /*           *************** GARANTIE ***************           */ -->

    <div class="col-12">
        <div class="card">
            <h5>Garantie Proposées</h5>
            <p-table [value]="garanties" [columns]="garantieCols" dataKey="id" styleClass="p-datatable-customers"
                [rowHover]="true" [rows]="3" [paginator]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nature</th>
                        <th>Type</th>
                        <th>Montant</th>
                        <th style="text-align: center">
                            <button pButton pRipple icon="pi pi-plus" *ngIf="page!='info' && page!='traitement' && hasAccess()==false"
                                class="p-button-rounded p-button-success mr-2 mb-2" (click)="newGarantie()"></button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-garantie>
                    <tr>
                        <td>
                            <span class="p-column-title">Nature</span>
                            {{ garantie.nature.libelleNature }}
                        </td>
                        <td>
                            <span class="p-column-title">Type</span>
                            {{ garantie.type.libType }}
                        </td>
                        <td>
                            <span class="p-column-title">Montant</span>
                            {{ garantie.montant | currency: "TND" }}
                        </td>
                        <td style="text-align: center">
                            <button *ngIf="page!='info' && page!='traitement' && hasAccess()==false" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help mr-2"
                                (click)="editGarantie(garantie)"></button>
                            <button *ngIf="page!='info' && page!='traitement' && hasAccess()==false" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteGarantie(garantie)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        En total il y a
                        {{ garantie ? garanties?.length : 0 }} garanties.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="GarantieDialog" [style]="{ width: '450px' }" header="Ajouter garantie" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="nature">Nature Garantie</label>
                    <span class="p-float-label">
                        <p-dropdown inputId="nature" [autoDisplayFirst]="false" [options]="natureGarantie"
                            optionLabel="libelleNature" [(ngModel)]="garantie.nature" placeholder="Nature" required>
                        </p-dropdown>
                    </span>
                    <br />
                    <p-message severity="error" *ngIf="submitted && !garantie.nature" text="Ce champ est nécessair.">
                    </p-message>
                    <br />
                    <label for="type">Type Garantie</label>
                    <span class="p-float-label">
                        <p-dropdown inputId="type" [autoDisplayFirst]="false" [options]="typeGarantie"
                            optionLabel="libType" [(ngModel)]="garantie.type" placeholder="Type" required>
                        </p-dropdown>
                    </span>
                    <br />
                    <p-message severity="error" *ngIf="submitted && !garantie.type" text="Ce champ est nécessair.">
                    </p-message>
                    <br />
                    <label for="montant">Montant</label>
                    <p-inputNumber id="montant" [(ngModel)]="garantie.montant" mode="currency" currency="TND"
                        locale="tn-TN" required></p-inputNumber>
                    <br />
                    <br />
                    <p-message severity="error" *ngIf="submitted && !garantie.montant" text="Ce champ est nécessair.">
                    </p-message>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
                    (click)="hideGarantieDialog()"></button>
                <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text"
                    (click)="saveGarantie()"></button>
            </ng-template>
        </p-dialog>
        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>

    <!-- /*           **********************************************           */ -->
    <!-- /*           *************** PIECES JOINTES ***************           */ -->

    <div class="col-12">
        <div class="card">
            <h5>Piéces Jointes</h5>
            <p-table [value]="piecesJointes" [rowHover]="true" selectionMode="single" dataKey="id"
                styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Documents</th>
                        <th>Obligatoire</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-piece>
                    <tr>
                        <td>
                            <span class="p-column-title">Documents</span>
                            {{ piece.libDoc }}
                        </td>
                        <td>
                            <span class="p-column-title">Obligatoire</span>
                            OUI
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-progressBar mode="indeterminate" [hidden]="!loading"></p-progressBar>
            <p-fileUpload #fileUpload *ngIf="!readOnly" [auto]="true" [chooseLabel]="choisir" customUpload="true"
                [maxFileSize]="fileMaxSize" [multiple]="multiple" [style]="style" (uploadHandler)="onUpload($event)">
            </p-fileUpload>
            <div *ngIf="selected ? selected.length > 0 : false" [style]="style">
                <div *ngFor="let file of selected" style="vertical-align: middle">
                    <button pButton class="p-button-text" [label]="'- ' + file.fileName" style="width: fit-content"
                        type="button" (click)="onDownload(file)"></button>
                    &nbsp;
                    <button *ngIf="!readOnly" pButton class="p-button-rounded p-button-danger p-button-text"
                        icon="pi pi-times" type="button" (click)="onDelete(file)"></button>
                </div>
            </div>
        </div>
    </div>

    <!--/*           ***********************************************           */-->

<div class="col-12 retour" *ngIf="page!='info' && page!='traitement' && hasAccess()==false">
    <p-toast key="tst"></p-toast>
    <button pButton pRipple type="button" block="true" (click)="saveDemandeCredit()" label="Sauvegarder"
        class="mr-2 mb-2"></button>
    <button pButton pRipple type="button" block="true" label="Initialiser" (click)="resetBT()"
        class="p-button-secondary mr-2 mb-2"></button>
</div>

<!-- traitement credit + consultation -->
<!-- historique du demande -->
<div class="col-12" *ngIf="hasAccess()">
    <div class="card">
        <h5>Historique du dossier</h5>
        <p-table [value]="history" respoinsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Date</th>
                    <th>Fait par</th>
                    <th>Etat</th>
                    <th>En attente de</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-h>
                <tr>
                    <td>{{h.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{h.byWho}}</td>
                    <td>{{h.phase }}</td>
                    <td>{{h.nextPhase }}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- traitement du charge de l'agence -->
<div class="col-12" *ngIf="hasAccess() && page == 'traitement'">
    <div class="card c1">
        <h5>Traitement du dossier</h5>
        <p-confirmDialog key="second" acceptLabel="Oui" rejectLabel="Non" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        Etape actuelle: <span class="ea">{{etapeActuelle}}</span> <br>
        Etape suivante: <p-splitButton class="ea" label="Choisir" [model]="items" styleClass="p-button-outlined p-button-primary mr-2 mb-2">
        </p-splitButton> {{etapeSuivante}}
        <div [hidden]="hidden">
            <h6>Informations à demander</h6>
            <textarea label pInputTextarea cols="80" [(ngModel)]="complement"></textarea><br>
        </div>
    </div>
</div>

<!-- return and validation button -->
<div class="col-12 retour" *ngIf="page">
    <p-button label="Envoyer" (click)="envoyer()" [disabled]="!etapeSuivante" *ngIf="hasAccess()"></p-button>
    <p-button [routerLink]="['/credit/consultation']" label="Retourner à la liste"></p-button>
</div>

<p-toast key="sts"></p-toast>

</div>