<div class="grid">
    <!-- /*           *************** INFORMATION CLIENT ***************           */ -->
    <div class="col-12">
        <div class="card">
            <h5>Information Client</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="nom">Nom</label>
                    <input
                        id="nom"
                        [(ngModel)]="demande.nom"
                        type="text"
                        pInputText
                    />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="prenom">Prénom</label>
                    <input
                        id="prenom"
                        [(ngModel)]="demande.prenom"
                        type="text"
                        pInputText
                    />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="typePiece">Type de pièce</label>
                    <input
                        id="typePiece"
                        [(ngModel)]="demande.typePiece"
                        type="text"
                        pInputText
                    />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="numCin">Numéro Pièce</label>
                    <p-inputNumber
                        id="numCin"
                        [(ngModel)]="demande.numPiece"
                    ></p-inputNumber>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="numCompte">N° Compte</label>
                    <p-inputNumber
                        id="numCompte"
                        [(ngModel)]="demande.numCompte"
                    ></p-inputNumber>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="dateCompte">Date ouverture compte</label>
                    <p-inputMask
                        inputId="dateCompte"
                        mask="99/99/9999"
                        [(ngModel)]="demande.dateCompte"
                    ></p-inputMask>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="dateNaissance">Né le</label>
                    <span class="p-float-label">
                        <p-inputMask
                            inputId="dateNaissance"
                            mask="99/99/9999"
                            [(ngModel)]="demande.dateNaissance"
                        ></p-inputMask>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="sitFam">Situation familiale</label>
                    <span class="p-float-label">
                        <p-dropdown
                            inputId="situation"
                            [options]="sitFam"
                            [(ngModel)]="demande.sitFamiliale"
                            placeholder="Select"
                            optionLabel="name"
                        ></p-dropdown>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- /*           ***********************************************           */ -->
    <!-- /*           *************** LIGNE CREDIT ***************               */ -->
    <div class="col-12">
        <div class="card">
            <h5>Ligne de Crédit</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="credit">Type Crédit</label>
                    <span class="p-float-label">
                        <p-dropdown
                            inputId="credit"
                            placeholder="Type"
                            [(ngModel)]="ligne.credit"
                            [options]="typeCredit"
                            optionLabel="libcredit"
                            required
                        ></p-dropdown>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="montant">Montant</label>
                    <p-inputNumber
                        id="montant"
                        [(ngModel)]="demande.montant"
                        mode="currency"
                        currency="TND"
                        locale="tn-TN"
                    ></p-inputNumber>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="unite">Unité</label>
                    <span class="p-float-label">
                        <p-dropdown
                            inputId="unite"
                            [options]="unite"
                            [(ngModel)]="demande.unite"
                            placeholder="Par"
                            optionLabel="name"
                        ></p-dropdown>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="nbrEcheance">Nombre échéance</label>
                    <p-inputNumber
                        id="nbrEcheance"
                        [(ngModel)]="demande.nbreEcheance"
                    ></p-inputNumber>
                </div>
            </div>
            <button
                pButton
                pRipple
                label="Ajouter un ligne de crédit"
                icon="pi pi-check"
                (click)="addLigne()"
                class="p-button-text"
            ></button>
        </div>
    </div>

    <!-- /*           ****************************************           */ -->
    <!-- /*           *************** GARANTIE ***************           */ -->

    <div class="col-12">
        <div class="card">
            <h5>Garantie Proposées</h5>
            <p-table
                [value]="garanties"
                [columns]="garantieCols"
                dataKey="id"
                styleClass="p-datatable-customers"
                [rowHover]="true"
                [rows]="3"
                [paginator]="true"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nature</th>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>
                            <button
                                pButton
                                pRipple
                                label="Nouveau garantie"
                                icon="pi pi-plus"
                                class="p-button-success mr-2 mb-2"
                                (click)="newGarantie()"
                            ></button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-garantie>
                    <tr>
                        <td>
                            <span class="p-column-title">Nature</span>
                            {{ garantie.nature.libelleNature }}
                        </td>
                        <td>
                            <span class="p-column-title">Type</span>
                            {{ garantie.type.libType }}
                        </td>
                        <td>
                            <span class="p-column-title">Montant</span>
                            {{ garantie.montant | currency: "TND" }}
                        </td>
                        <td style="text-align: center">
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="editGarantie(garantie)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-warning"
                                (click)="deleteGarantie(garantie)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div
                        class="flex align-items-center justify-content-between"
                    >
                        En total il y a
                        {{ garantie ? garanties?.length : 0 }} garanties.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="GarantieDialog"
            [style]="{ width: '450px' }"
            header="Ajouter garantie"
            [modal]="true"
            styleClass="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="nature">Nature Garantie</label>
                    <span class="p-float-label">
                        <p-dropdown
                            inputId="nature"
                            [autoDisplayFirst]="false"
                            [options]="natureGarantie"
                            optionLabel="libelleNature"
                            [(ngModel)]="garantie.nature"
                            placeholder="Nature"
                            required
                        ></p-dropdown>
                    </span>
                    <br />
                    <p-message
                        severity="error"
                        *ngIf="submitted && !garantie.nature"
                        text="Ce champ est nécessair."
                    ></p-message>
                    <br />
                    <label for="type">Type Garantie</label>
                    <span class="p-float-label">
                        <p-dropdown
                            inputId="type"
                            [autoDisplayFirst]="false"
                            [options]="typeGarantie"
                            optionLabel="libType"
                            [(ngModel)]="garantie.type"
                            placeholder="Type"
                            required
                        >
                        </p-dropdown>
                    </span>
                    <br />
                    <p-message
                        severity="error"
                        *ngIf="submitted && !garantie.type"
                        text="Ce champ est nécessair."
                    ></p-message>
                    <br />
                    <label for="montant">Montant</label>
                    <p-inputNumber
                        id="montant"
                        [(ngModel)]="garantie.montant"
                        mode="currency"
                        currency="TND"
                        locale="tn-TN"
                        required
                    ></p-inputNumber>
                    <br />
                    <br />
                    <p-message
                        severity="error"
                        *ngIf="submitted && !garantie.montant"
                        text="Ce champ est nécessair."
                    ></p-message>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Annuler"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideGarantieDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Ajouter"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveGarantie()"
                ></button>
            </ng-template>
        </p-dialog>
        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>

    <!-- /*           **********************************************           */ -->
    <!-- /*           *************** PIECES JOINTES ***************           */ -->

    <div class="col-12">
        <div class="card">
            <h5>Piéces Jointes</h5>
            <p-table
                [value]="piecesJointes"
                [rowHover]="true"
                selectionMode="single"
                dataKey="id"
                styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Documents</th>
                        <th>Obligatoire</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-piece>
                    <tr>
                        <td>
                            <span class="p-column-title">Documents</span>
                            {{ piece.libDoc }}
                        </td>
                        <td>
                            <span class="p-column-title">Obligatoire</span>
                            OUI
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-fileUpload
                name="demo[]"
                url="./upload.php"
                (onUpload)="onUpload($event)"
                multiple="multiple"
                accept="image/*"
                maxFileSize="1000000"
            >
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>
    </div>
    <!-- /*           *******************************************           */ -->
    <!-- /*           *************** OBSERVATION ***************           */ -->

    <div class="col-12">
        <div class="card">
            <h5>Observation</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <textarea
                        id="commentaire"
                        type="text"
                        rows="4"
                        pInputTextarea
                    ></textarea>
                </div>
            </div>
        </div>
    </div>
    <!--/*           ***********************************************           */-->
</div>

<button
    pButton
    pRipple
    type="button"
    block="true"
    (click)="onSubmit()"
    label="Sauvegarder"
    class="mr-2 mb-2"
></button>

<button
    pButton
    pRipple
    type="button"
    block="true"
    label="Initialiser"
    class="p-button-secondary mr-2 mb-2"
></button>

{{ piecesJointes | json }}
<br />
{{ demande | json }}
<br />
{{ ligne | json }}
<br />
{{ garantie | json }}
<br />
{{ piece | json }}
