.footer {
    position: absolute;
    bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    gap: 5px;
    margin: 10px;
}

::ng-deep .p-datepicker-month {
    background-color: black;
    color:white;
}

::ng-deep .p-datepicker-year {
    background-color: black;
    color:white;
}

.calendar{
    height:50px;
}