<div class="p-fluid formgrid grid">
    <div class="field col">
        <label for="nom">Nom</label>
        <input type="text" pInputText id="nom" required autofocus />
    </div>
    <div class="field col">
        <label for="prenom">Prénom</label>
        <input type="text" pInputText id="prenom" required />
    </div>
</div>

<div class="p-fluid formgrid grid">
    <div class="field col">
        <label for="mail">E-mail</label>
        <input type="text" pInputText id="mail" required />
    </div>
    <div class="field col">
        <label>Profil</label>
        <p-dropdown [options]="profils" [(ngModel)]="selectedProfil" placeholder="Choisir un profil" [showClear]="true">
        </p-dropdown>
    </div>
</div>

<div class="field">
    <label for="dateNaissance">Date de naissance</label>
    <p-calendar id="dateNaissance" name="dateNaissance" [showIcon]="true" inputId="icon"></p-calendar>
</div>

<div class="p-fluid formgrid grid">
    <div class="field col">
        <label for="numTel">Numéro Téléphone</label>
        <p-inputNumber id="numTel"></p-inputNumber>
    </div>
    <div class="field col">
        <label for="numCin">Numéro Carte d'identité</label>
        <p-inputNumber id="numCin"></p-inputNumber>
    </div>
</div>

<div class="p-fluid formgrid grid">
    <div class="field col">
        <label for="pass">Mot de passe</label>
        <p-inputNumber id="pass"></p-inputNumber>
    </div>
    <div class="field col">
        <label for="passR">Répéter le mot de passe</label>
        <p-inputNumber id="passR"></p-inputNumber>
    </div>
</div>
<small class="p-invalid" *ngIf="">Vérifier le mot de passe !</small>

<div class="footer">
    <button pButton pRipple label="Confirmer" icon="pi pi-check" class="p-button-text"></button>
    <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"></button>
</div>