<div class="field">
    <label for="firstname1">Libellé du profil</label>
    <input id="firstname1" type="text" [(ngModel)]="libelle" [pKeyFilter]="noSpecial" autofocus maxlength="40" pInputText>
</div>
<p>Liste des habilitations</p>
<p-multiSelect [options]="habs" [(ngModel)]="selectedMulti" defaultLabel="Select a Country" optionLabel="libelle"
    class="multiselect-custom">
    <ng-template let-value pTemplate="selectedItems">
        <div class="country-item country-item-value" *ngFor="let option of selectedMulti">
            <div>{{option.libelle}}</div>
        </div>
        <div *ngIf="!selectedMulti || selectedMulti.length === 0" class="country-placeholder">
            Choisir les habilitations
        </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
        <div class="country-item">
            <div>{{option.libelle}}</div>
        </div>
    </ng-template>
</p-multiSelect>
<div class="footer">
<button pButton pRipple label="Confirmer" icon="pi pi-check" class="p-button-text" (click)="onSubmit()" [disabled]="!libelle || selectedMulti.length === 0"></button>
<button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="terminateDialog()"></button>
</div>
