<div class="grid">
    <div class="col-12">
        
        <div class="userCard" >
            <aside>
                <img src="assets/layout/images/profile-image.png">
                <p>{{currentUser.nom}} {{currentUser.prenom}}</p>
                <p>{{currentUser.profil.libelle}}</p>
            </aside>
            <main>
                <h4>Email address</h4>
                <p>{{currentUser.email}}</p>
            </main>
            <div class="clear"></div>
        </div>

    </div>
</div>
