div {
    font-family: "Century gothic";
}
.name {
    padding-top: 30px;
    color: white;
    font-weight: bold;
}
.userCard {
    background: rgb(175, 15, 15);
    background: linear-gradient(
        234deg,
        rgba(175, 15, 15, 1) 65%,
        rgba(232, 67, 131, 1) 95%,
        rgba(213, 87, 163, 1) 100%
    );
    width: 50%;
    margin: auto;
    border-radius: 2ch;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}
aside {
    padding-top: 8%;
    float: left;
    border-radius: 2ch;
    width: 30%;
    text-align: center;
}
main {
    padding-top: 5%;
    padding-left: 30px;
    width: 70%;
    float: right;
    border-top-right-radius: 2ch;
    border-bottom-right-radius: 2ch;
    border-left: 1px solid #32324e;
    background: rgb(50, 50, 78);
    background: linear-gradient(184deg, rgba(50, 50, 78, 1) 1%, rgba(77, 77, 105, 1) 69%, rgba(129, 129, 170, 1) 100%);
    color: rgb(255, 255, 255);
}
.clear {
    clear: both;
}
.header {
    border-bottom: 1px solid #ffffff;
    width: 80%;
    font-weight: 900;
    font-size: 15px;
}
h4 {
    font-size: 25px;
}
