.buttonResultat{
    display:flex;
    justify-content: center;
}
.no-click {
    pointer-events: none;
}
::ng-deep .p-datepicker-month {
    background-color: black;
    color:white;
}

::ng-deep .p-datepicker-year {
    background-color: black;
    color:white;
}