<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Informations personnels</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-6">
                    <label>Nom</label>
                    <input [disabled]="details" [(ngModel)]="simulation.nom" type="text" pKeyFilter="alpha" pInputText required />

                </div>
                <div class="field col-6">
                    <label>Prénom</label>
                    <input [disabled]="details" [(ngModel)]="simulation.prenom" type="text" pKeyFilter="alpha" pInputText required />
                </div>

                <div class="field col-6">
                    <label>Type Piéce identité</label>
                    <p-dropdown [disabled]="details" (onChange)="simulation.numPiece = null" inputId="typePiece" [options]="pieceOptions"
                        optionLabel="name" placeholder="Choisir" [(ngModel)]="selectedPiece" required></p-dropdown>
                </div>

                <div class="field col-6">
                    <label>Numéro Piéce identité</label>
                    <input [disabled]="details" [(ngModel)]="simulation.numPiece" *ngIf="selectedPiece.id == 1" type="text" pInputText
                        pKeyFilter="pnum" required [maxLength]="8" />
                    <input [disabled]="details" [(ngModel)]="simulation.numPiece" *ngIf="selectedPiece.id == 2" type="text" pInputText
                        pKeyFilter="alphanum" required [maxLength]="9" />
                </div>

                <div class="field col-6">
                    <label>Numéro de compte</label>
                    <input [disabled]="details" [(ngModel)]="simulation.numCompte" type="text" pInputText pKeyFilter="pnum" required
                        maxlength="13" minlength="13" />
                </div>

                <div class="field col-3">
                    <label>Date d'ouverture du compte</label>
                    <p-calendar [disabled]="details" [(ngModel)]="simulation.dateCompte" name="dateCompte" [showIcon]="true" inputId="icon"
                        required>
                    </p-calendar>
                </div>

                <div class="field col-3">
                    <label>Date de naissance</label>
                    <span class="p-float-label">
                        <p-calendar [disabled]="details" [(ngModel)]="simulation.dateNaissance" name="dateNaissance" [showIcon]="true"
                            inputId="icon" required>
                        </p-calendar>
                    </span>
                </div>

                <div class="field col-6">
                    <label>Situation familiale</label>
                    <p-dropdown [disabled]="details" [options]="familialeOptions" [(ngModel)]="selectedFamiliale" optionLabel="name"
                        placeholder="Choisir"></p-dropdown>
                </div>

                <div class="field col-6">
                    <label>Situation medicale</label>
                    <p-dropdown [disabled]="details" [options]="medicaleOptions" [(ngModel)]="selectedMedicale" optionLabel="name"
                        placeholder="Choisir"></p-dropdown>
                </div>

                <div class="field col-6">
                    <label>Statut professionnel</label>
                    <p-dropdown [disabled]="details" [options]="emploiOptions" [(ngModel)]="selectedEmploi" optionLabel="name"
                        placeholder="Choisir"></p-dropdown>
                </div>

                <div class="field col-6">
                    <label>GSM</label>
                    <div class="p-inputgroup">
                        <button [disabled]="details" type="button" pButton class="no-click" label="+216"></button>
                        <input [disabled]="details" [(ngModel)]="simulation.gsm" type="text" pInputText showIcon="test" pKeyFilter="pnum"
                            required maxlength="8" minlength="8" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Crédit</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-6">
                    <label>Type de credit</label>
                    <p-dropdown [disabled]="details" [options]="typesCredit" [(ngModel)]="selectedCredit" optionLabel="libcredit"
                        placeholder="Choisir"></p-dropdown>
                </div>
                <div class="field col-6">
                    <label>Montant</label>
                    <p-inputNumber [disabled]="details" [(ngModel)]="simulation.montant" mode="currency" required currency="TND"
                        locale="tn-TN"></p-inputNumber>
                </div>
                <div class="field col-6">
                    <label>Nombre d'écheances</label>
                    <p-inputNumber [disabled]="details" [(ngModel)]="simulation.nbreEcheance" [max]="(selectedEcheance.id==2?30:360)"
                        maxlength="3"></p-inputNumber>
                </div>
                <div class="field col-6">
                    <label>Par</label>
                    <p-dropdown [disabled]="details" (onChange)="simulation.nbreEcheance = null" [options]="echeanceOptions"
                        [(ngModel)]="selectedEcheance" optionLabel="name" placeholder="Choisir"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Situation financiére</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-6">
                    <label>Salaire mensuel</label>
                    <p-inputNumber [disabled]="details" [(ngModel)]="simulation.salaire" mode="currency" required currency="TND"
                        locale="tn-TN"></p-inputNumber>
                </div>
                <div class="field col-6">
                    <label>Autre revenu</label>
                    <p-inputNumber [disabled]="details" [(ngModel)]="simulation.autreRevenu" mode="currency" required currency="TND"
                        locale="tn-TN"></p-inputNumber>
                </div>
                <div class="field col-12">
                    <label>Situation logement</label>
                    <p-dropdown [disabled]="details" [options]="logementOptions" [(ngModel)]="selectedLogement" optionLabel="name"
                        placeholder="Choisir"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <p-toast></p-toast>
</div>

<div class="buttonResultat">
    <p-button [routerLink]="['/']" label="Retour"></p-button>
    <p-button label="Simuler" (click)="submit()" *ngxPermissionsOnly="'ROLE_Demande Credit Client'"></p-button>
</div>

<p-dialog
    [(visible)]="showResultat"
    [draggable]="false"
    [resizable]="false"
    modal="true"
>
    <b>Résultat de simulation :</b>
    <div class="success" *ngIf="resultat >= 50">
        <div class="tup"><i class="pi pi-thumbs-up"></i></div>
        <p>Eligible</p>
    </div>
    <div class="failure" *ngIf="resultat < 50">
        <div class="tdown"><i class="pi pi-thumbs-down"></i></div>
        <p>Ineligible</p>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="resultat>=50" pButton pRipple label="Passer au demande" (click)="toDemande()" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>
