<div class="grid">
    <div class="col-12">
        <p-table [value]="displayList" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Montant</th>
                    <th>Type de credit</th>
                    <th>Date du dernier changement</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-demande>
                <tr>
                    <td>{{demande.montant | currency : ' '}} TND</td>
                    <td>{{demande.type}}</td>
                    <td>{{demande.dateDernier | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <p-tag styleClass="mr-2" icon="pi pi-info-circle" value="{{demande.etat}}"></p-tag>
                    </td>
                    <td><button pButton pRipple type="button" label="Voir Détails" class="p-button-raised p-button-info"></button><button pButton pRipple type="button" label="Info" class="p-button-raised p-button-info"></button></td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>