<div
    class="layout-rightmenu"
    [ngClass]="{ 'layout-rightmenu-active': appMain.rightMenuActive }"
    (click)="appMain.onRightMenuClick($event)"
>
    <a
        href="#"
        (click)="appMain.rightMenuActive = false"
        class="layout-rightmenu-close"
    >
        <i class="pi pi-times"></i>
    </a>
    <div class="user-detail-wrapper">
        <div class="user-detail-content">
            <img
                src="../../../assets/layout/images/profile-image.png"
                alt="atlantis"
                class="user-image"
            />
            <span class="user-name"
                >{{ currentUser.nom }} {{ currentUser.prenom }}
            </span>
        </div>

        <div class="daily-plan-wrapper">
            <span class="today-date">{{
                currentDate | date: "dd-MM-yyyy"
            }}</span>
            <ul *ngFor="let event of events">
                <li>
                    <span class="event-time">{{
                        event.dateRdv | date: "dd/MM/yyyy-HH:mm"
                    }}</span>
                    <span class="event-topic"
                        >Rendez vous avec le chargé de la banque pour la demande
                        N° {{ event.idDemande }}</span
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
