.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }
}

@media screen and (max-width: 960px) {
    ::ng-deep {
        .customized-timeline {
            .p-timeline-event:nth-child(even) {
                flex-direction: row !important;

                .p-timeline-event-content {
                    text-align: left !important;
                }
            }

            .p-timeline-event-opposite {
                flex: 0;
            }

            .p-card {
                margin-top: 1rem;
            }
        }
    }
}
.link:hover{
    cursor:pointer;
    color:rgb(129, 179, 253);
}
.backimg{
    // margin-left: 30%;
    width: 100000px;
    height: 800px;
    // background-image: './assets/layout/images/2.jpg';
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;

}
