<div class="grid" *ngxPermissionsOnly="'ROLE_Administration'">
    <p>this is an admin dashboard</p>
</div>
<div class="grid" *ngxPermissionsOnly="'ROLE_Traitement Demandes'">
    <p>this is a manager dashboard</p>
</div>
<div class="grid" *ngxPermissionsOnly="'ROLE_Demande Credit Client'">
    <div class="col-12">
        <div class="card">
            <h2>Timeline</h2>

            <h5>Custom Timeline</h5>
            <p-timeline [value]="historique">
                <ng-template pTemplate="opposite" let-item>
                    <span class="custom-marker p-shadow-2">
                        <p-chip
                            icon="pi pi-calendar"
                            label="{{
                                item.datePhase | date: 'dd/MM/yyyy HH:mm:ss'
                            }}"
                        >
                        </p-chip>
                    </span>
                </ng-template>

                <ng-template pTemplate="content" let-item>
                    <div class="card widget-customer-graph">
                        <div class="header">
                            <div class="title">
                                <span>
                                    <span style="font-weight: bolder">
                                        <p-chip
                                            color="rgba(228, 0, 123, 1)"
                                            icon="pi pi-download"
                                            label="{{ item.idPhase }}"
                                        >
                                        </p-chip></span
                                    ><br />
                                    <span class="subtitle"
                                        >Fait par
                                        <span style="font-weight: bold">{{
                                            item.userId
                                        }}</span></span
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>
