<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Calendrier des rendez-vous</h5>
            <full-calendar [options]="options" event="events"></full-calendar>
            <p-dialog
                [(visible)]="eventDialog"
                [style]="{ width: '450px' }"
                header="Event Details"
                [modal]="true"
                [closable]="true"
            >
                <ng-template pTemplate="content">
                    <div class="p-fluid">
                        <div class="field">
                            <label for="title">Avec</label>
                            <input
                                id="title"
                                type="text"
                                pInputText
                                [(ngModel)]="changedEvent.title"
                                [required]="true"
                            />
                        </div>
                        <div class="field">
                            <label for="start">Date et heure</label>
                            <p-calendar
                                id="start"
                                [(ngModel)]="changedEvent.dateRdv"
                                [showTime]="true"
                                appendTo="body"
                                [timeOnly]="true"
                            ></p-calendar>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button
                        pButton
                        label="Save"
                        icon="pi pi-check"
                        class="p-button-text"
                        (click)="save()"
                    ></button>
                    <button
                        pButton
                        label="Reset"
                        icon="pi pi-refresh"
                        class="p-button-text"
                        (click)="reset()"
                    ></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
