@media screen and (max-width: 960px) {
    :host ::ng-deep .fc-header-toolbar {
        display: flex;
        flex-wrap: wrap;
    }
}
::ng-deep .p-datepicker-month {
    background-color: black;
    color:white;
}

::ng-deep .p-datepicker-year {
    background-color: black;
    color:white;
}